* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #636363;
}


#floatMe .backToTop{
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 8px;
  line-height: 50px;
  display: blocks;
  text-align: center;
  position: fixed;
  color: white;
  right:15px;
  bottom: 15px;
  
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.space__betweensection {
  padding-top: 115px;
}

.btn {
  padding: 20px 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  line-height: 1.2;
  transition: 0.5s;
  cursor: pointer;
  outline: 0;
  font-weight: 500;
  background-size: 200%;
}

.btn:hover {
  /* background: #000; */
  background-position: right center;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

/* Start Header */

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  margin-right: 30px;
}

header nav {
  display: flex;
  align-items: center;
}

.header__content li {
  padding: 55px 15px;
}
.header__content li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
}
.header__content span {
  display: inline-block;
}
.header__content i {
  font-size: 9px;
  margin-top: -3px;
  text-align: middle;
}

.header__content li:hover a {
  color: #f55f8d;
}

.header__content li:hover span {
  animation: upToDownText;
  animation-duration: 0.5s;
}

/* End Header */

/* Start Carousel */

.carousel {
  padding-top: 180px;
  background-image: url(./images/pic2.png);
  overflow: hidden;
  background-position: top;
  background-size: 100%;
}

.carousel__content {
  display: flex;
  align-items: center;
}

.carousel .left__content {
  width: 60%;
}

.left__content .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.left__content .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.left__content .article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.left__content .article ul {
  margin-bottom: 20px;
}
.article li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.article i {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 900;
  border-radius: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  margin-right: 10px;
  line-height: 35px;
}

.carousel .right__content {
  width: 40%;
}

.carousel__banner {
  width: 570px;
  margin-left: 50px;
}

.carousel__banner img {
  max-width: 100%;
  display: block;
}

/* End Carousel */

/* Start Service */
.service {
  background-image: url(./images/bg2.png);
  background-size: cover;
  text-align: center;
  background-position: top center;
}

.service__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

.service__item {
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px 45px;
  transform: translateX(0);
  transition: 0.3s;
}

.service__item:hover {
  transform: translateY(-20px);
}

.service__item img {
  width: 215px;
}

.service__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  margin: 15px 0;
}
/* End Service */

/* Start About Us */

.aboutUs {
  background-image: url(./images/bg15.png);
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.aboutUs__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.aboutUs__left {
  position: absolute;
  width: 60%;
  left: -17%;
}

.aboutUs__right {
  width: 50%;
}

.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutUs__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

.aboutUs__right p {
  margin-bottom: 15px;
}
.aboutUs__right ul {
  margin-bottom: 30px;
}
/* End About Us */

/* Start Number */

.number {
  background-image: url(./images/bg14.png);
  background-position: center;
  padding: 80px 0 50px;
  text-align: center;
}

.number__content {
  display: flex;
  justify-content: space-around;
}

.number__item {
  width: 25%;
}

.number__item i {
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  display: inline-block;
  color: white;
}

.number__item p {
  color: #f55f8d;
  font-size: 65px;
  font-weight: 800;
  line-height: 1;
}

.number__item .p2 {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}

/* End Number */

/* Start Feature */

.feature {
  background-image: url(./images/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.feature__content {
  display: flex;
}

.feature__left,
.feature__right {
  width: 50%;
}

.banner {
  margin-right: -80px;
}

.banner img {
  max-width: 100%;
  animation: shakeShakeShake 5s infinite;
}

.feature__item {
  padding: 0 50px 30px 0;
}

.feature__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.feature__item div {
  padding-left: 25px;
  z-index: 1;
  transition: 1s;
}

.item__container {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.item__container::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.item__container:hover::after {
  opacity: 1;
}

.feature__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}

.features__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.item__container:hover div,
.item__container:hover h3,
.item__container:hover i {
  color: #fff;
}

/* End Feature */

/* Start Porfolio */
.porfolio {
  background-image: url(./images/bg17.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.porfolio__itemGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.porfolio__itemGrid .porfolio__item1 {
  grid-column: 1/3;
}

.porfolio__itemGrid .porfolio__item5 {
  grid-column: 1 / span 2;
}

.porfolio__itemGrid .porfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.porfolio__itemGrid img {
  width: 100%;
  height: 100%;
}

.porfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* opacity: 0; */
  color: white;
}

.porfolio__item::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  display: block;
  transform: skewX(-25deg);
  transition: 0.5s;
}

.porfolio__item:hover::before {
  left: 100%;
}

.p__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.porfolio__item:hover .p__overlay {
  opacity: 1;
}

.p__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 100%;
  transform: translate(20px, -20px);
  transition: 0.5s;
}

.porfolio__item:hover .p__icon {
  transform: translate(0);
}

.p__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: center;
  transform: translateY(150px);
  transition: 0.5s;
}

.porfolio__item:hover .p__text {
  transform: translate(0);
}

.p__icon a {
  color: white;
}

/* End Portfolio */

/* Start Plan */

.plan {
  background-image: url(./images/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}

.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: all 0.5s;
}

.plan__item:hover {
  border-image: url(./images/br.png) 1 round;
}

.plan__item img {
  width: 125px;
}
.plan__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan__item li,
.plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__item li {
  font-weight: 400;
}
.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item li {
  padding: 5px 0;
}
.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* End Plan */

/* Testimonial */
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial__content {
  min-height: 300px;
}

.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}

.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}

.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}

.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}

.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}

.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}

/* End Testimonial */

/* Start Blog */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__content {
  overflow: hidden;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__header img {
  width: 100%;
  border-radius: 8px;
}

.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ea56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #e1e1f0;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 10px 15px 10px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer p:last-of-type span {
  color: #f55f8d;
}
/* End Blog */

/* Start Footer */

.footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

.footer::before {
  content: "";
  background-image: url(./images/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(./images/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__form,
.footer__text {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form form {
  display: flex;
  border-radius: 20%;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

footer input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  transition: 0.5s;
}

footer input:hover {
  border: 1px solid #f55f8d;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__form button:hover i {
  animation: leftToRight;
  animation-duration: 0.5s;
  display: inline-block;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: white;
}

.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer__item li {
  padding: 0.5rem 0;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer__item a:hover {
  color: #fff;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.copyright__content {
  display: flex;
  justify-content: space-between;
}
.footer__left span {
  color: #f55f8d;
}
.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright a:hover {
  background: #f55f8d;
}

.footer__item ul {
  display: block;
  margin: 0;
  padding: 0;
}

.footer__item a {
  text-decoration: none;
}
/* End Footer */

/*Animation sector*/
@keyframes upToDownText {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

@keyframes shakeShakeShake {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes leftToRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}
